
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="./home.component.css">
</head>
<body class="main-bg">
<div class="login-container text-c animated flipInX" >
  <div>
    <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
  </div>
  <h5 class="card-title">HOME PAGE</h5>
  <div class="container-content">
    <form class="margin-t"  >
      <p class="card-text">Select one you need</p>
      <a routerLink="/login" class="form-button button-l margin-b">Login</a>
      <a routerLink="/logUp" class="form-button button-l margin-b">Log up</a>
      <a routerLink="/admin" class="form-button button-l margin-b">Admin</a>

    </form>
    <p class="margin-t text-whitesmoke"><small> Author: Khojiyev1705@gmail.com</small> </p>
  </div>
</div>
</body>
</html>

