<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./compose.component.css">
  <title>Compose</title>
</head>
<body>


<div class="row">
  <div class="col-2">
    <div class="sidenav ">

      <a href="/admin">Home</a>
      <a href="/compose">Compose</a>
      <a href="/inbox">Inbox <i class="border"
                                style="border-radius: 5px;
                                        color: red;
                                        width: 10px;
                                        text-align: center;
                                        padding-left: 5px;
                                        padding-right: 5px;"
                                *ngIf="countInboxMessages>0"
      >{{countInboxMessages}}</i></a>
      <a href="/unread">Unread <i class="border"
                                  style="border-radius: 5px;
                                        color: red;
                                        width: 10px;
                                        text-align: center;
                                        padding-left: 5px;
                                        padding-right: 5px;"
                                  *ngIf="countUnreadMessages>0"
      >{{countUnreadMessages}}</i> </a>
      <a href="/sent">Sent <i class="border"
                              style="border-radius: 5px;
                                        color: red;
                                        width: 10px;
                                        text-align: center;
                                        padding-left: 5px;
                                        padding-right: 5px;"
                              *ngIf="countSentMessages>0"
      >{{countSentMessages}}</i></a>
      <a href="/sent">Archive <i class="border"
                                 style="border-radius: 5px;
                                        color: red;
                                        width: 10px;
                                        text-align: center;
                                        padding-left: 5px;
                                        padding-right: 5px;"
                                 *ngIf="countArchiveMessages>0"
      >{{countArchiveMessages}}</i></a>
      <a href="/bin">Bin <i class="border"
                            style="border-radius: 5px;
                                        color: red;
                                        width: 10px;
                                        text-align: center;
                                        padding-left: 5px;
                                        padding-right: 5px;"
                            *ngIf="countBinMessages>0"
      >{{countBinMessages}}</i></a>
      <a href="/setting">Setting</a>
      <a href=" " (click)="logOut()">Log out</a>


    </div>
  </div>
  <div class="col-10 ">
    <div class="text-center" style="font-size: xx-large; color: #7952b3"> Compose Page</div>


    <div class="container row justify-content-center">
      <div class="col-md-8 ">From: <input type="email" class="form-control" id="inputSenderEmail"
                                          [(ngModel)]="senderEmailText"></div>
      <div class="col-md-8 ">To whom: <input type="email" class="form-control" id="inputReceiverEmail"
                                             [(ngModel)]="receiverEmailText"></div>
      <div class="col-md-8">Subject: <input type="text" class="form-control" id="subject" [(ngModel)]="subjectText">
      </div>
      <div class="col-md-8 comment-area">Text: <textarea class="form-control" placeholder="enter your text"
                                                         rows="4" id="messageText" [(ngModel)]="messageText"></textarea>
      </div>


      <button class="col-md-4 btn border-primary " style="margin: 15px;display: block; width: 20%;"
      >Reset
      </button>
      <button class="col-md-4 btn border-primary " style="margin: 15px;display: block; width: 20%;"
              data-toggle="modal" (click)="sendClick()">Send
      </button>

      <section>
        <div class="container mt-5" *ngIf="notifBarShow">

            <div class="col-sm-20">
              <div
                class="alert fade alert-simple alert-success alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show">
                <button type="button" class="close font__size-18" data-dismiss="alert" (click)="clickNotMes()">X</button>
                <strong class="font__weight-semibold">Well done!</strong> Message was sent!!!
              </div>
            </div>
          </div>

      </section>


    </div>
  </div>
</div>
</body>
</html>


